application:
  datasource:
    username: dbuser2
    password: '{cipher}FKSAJDFGYOS8F7GLHAKERGFHLSAJ'
spring:
  jpa:
  database-platform: org.hibernate.dialect.SQLServer2012Dialect
  show-sql: true
  hibernate:
    ddl-auto: none
logging:
  level:
    org.springframework.jdbc.core.JdbcTemplate: trace
    org.springframework.web.servlet.DispatcherServlet: trace
    org.springframework.data.redis: trace
    io.lettuce.core.protocol.DefaultEndpoint: trace
    io.lettuce.core.protocol.CommandEncoder: trace
    org.springframework.cloud: trace
